// Base typography styles
// --------------------------------------------------------------------

// Base HTML styles e.g. tables, lists etc.
// --------------------------------------------------------------------
img{
	max-width: 100%;
}
// Base form styles
// --------------------------------------------------------------------
form .row{
	padding:0.5em 0;
}

fieldset{
	margin:1em 0;
}