#feed{
	width: 100%;
	margin: 0 auto;
	max-width: 800px;
	box-sizing: border-box;
}

.feed-item{
	float: left;
	width: 100%;
	clear: both;
	position: relative;
	box-sizing: border-box;
	padding: 1.2em 1em;
	border-bottom: 1px solid #CCC;
	background-color: #FFF;

	img.poster{
		float: left;
		width: 80px;
		height: auto;
		border: 1px solid #CCC;
	}

	.title{
		float: left;
		padding: 0 0.8em;

		h4, h5{
			margin-top: 0.4em;
			margin-bottom: 0.5em;
		}
	}

	.play-btn{
		float: right;
		width: 80px;
		height: 80px;
	}
}
