#primary-header{
	width: 100%;
	height: $header-height;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	float: left;
	clear: both;
	background-color: $colour-blue;
	box-sizing: border-box;

	.inner{
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
	}

	a.logo{
		height: 100%;
		display: block;
		float: left;
		text-decoration: none;
		color: #000000;
		padding: 0 1em;
	}

	h1{
		font-size: 1.3em;
		margin: 0;
		line-height: $header-height;
		color: white;
	}

	.actions{
		height: $header-height;
		position: relative;
		border: 0;
		float: right;

		button, #feed-list-select{
			height: 100%;
			width: 50px;
			float: right;
		}

		.icon-list{
			position: relative;
			right: -50px;
			pointer-events: none;
			background-color: transparent;
		}

		#feed-list-select{
			width: 50px;
			-webkit-appearance: none;
			display: block;
			border: 0;
			border-radius: 0;
			opacity: 0;
		}
	}
}
