#player{
	width: 100%;
	min-height: 120px;
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;
	background-color: rgb(68, 61, 55);
	padding-top: 1em;

	#native-player{
		display: none;
	}

	.scrubber{
		@include row();
		width: 100%;
		height: 24px;
		background-color: rgb(93, 90, 88);
		margin-top: 1em;
	}

	.current-podcast{
		@include row();
		padding: 1em;
		box-sizing: border-box;
		color: #FFF;
		text-align: center;
		float: left;

		h4{
			margin: 0;
		}
	}

	// Player states
	&[data-state="playing"]{

		.player-controls .play-btn{
			display: none;
		}

		.player-controls .pause-btn{
			display: inline-block;
		}
	}
}

.player-controls{
	text-align: center;

	button{
		font-size: 2em;
		padding: 0.4em;
	}

	.pause-btn{
		display: none;
		background-color: $colour-orange;
	}
}


html.touch  #player{

}

@media all and (orientation:landscape) {
	html.touch  #player{

	}
}
