#player{
	width: 100%;
	min-height: 120px;
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;
	background-color: rgb(68, 61, 55);
	padding: 1em 0;

	.inner{
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
	}

	#native-player{
		display: none;
	}

	.scrubber{
		@include row();
		width: 100%;
		height: 24px;
		background-color: rgb(93, 90, 88);
		margin-bottom: 1em;
	}

	.current-podcast{
		@include row();
		padding: 1em;
		box-sizing: border-box;
		color: #FFF;
		text-align: center;
		float: left;

		h4{
			margin: 0;
		}
	}

	// Player states
	&[data-state="playing"]{

		.player-controls .play-btn{
			display: none;
		}

		.player-controls .pause-btn{
			display: inline-block;
		}
	}
}

.player-controls{
	text-align: center;

	button{
		font-size: 2em;
		padding: 0.4em;
	}

	.play-btn,
	.pause-btn{
		margin: 0 0.5em;
	}

	.pause-btn{
		display: none;
		background-color: $colour-orange;
	}
}