#player{
	width: 100%;
	min-height: 120px;
	position: fixed;
	z-index: 100;
	top: 40px;
	left: 0;
	background-color: rgb(68, 61, 55);

	#native-player{
		display: block;
		margin: 40px auto 0;
	}

	.scrubber{
		width: 100%;
		height: 28px;
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		background-color: rgb(93, 90, 88);
	}

	.podcast{
		padding: 1em;
		color: #FFF;
		text-align: center;
	}
}

html.touch  #player{
	top: auto;
	bottom: 0;
}

@media all and (orientation:landscape) {
	html.touch  #player{

	}
}