// Grid settings
$grid-total-columns: 12;
$grid-gutter: 1em;

// Layout settings
$layout-breakpoint-medium: 768px;
$layout-breakpoint-large: 1024px;
$header-height: 50px;

// Colours
$colour-blue: rgb(70, 125, 113);
$colour-orange: rgb(243, 166, 51);
$colour-brown: rgb(68, 61, 55);

$sprite-width: 400px;
$sprite-height: 400px;

// Base styles
@import "partials/font";
@import "partials/base";
@import "partials/grid";

// Mixins
@import "partials/mixins";

// Elements
@import "elements/buttons";
@import "elements/loading-graphic";

// Blocks
@import "blocks/layout";
@import "blocks/header";
@import "blocks/feed";
@import "blocks/player";

// Media Queries
@import "partials/device";
